@use "mixin" as *;
@use "iconfont" as *;
@import "uview-ui/index";

body {
  min-width: 320px;
  font-size: $font-size-base;
  color: $main;
  background: $inverse;
  transition: all 0.3s ease;
}

*,
view,
text,
scroll-view,
image,
video,
swiper,
button {
  box-sizing: border-box;
}

.container {
  @include flex(column);
  min-height: 100vh;
}
