@use "mixin" as *;
@use "iconfont" as *;
@import "uview-ui/index";

*,
view,
text,
scroll-view,
image,
video,
swiper,
button {
  box-sizing: border-box;
}

.container,
body {
  @include flex(column);
  flex: 1;
  height: auto;
  min-height: 100vh;
  color: $main;
  background: $inverse;
  transition: all 0.3s ease;
}

body {
  font-size: $font-size-base;
}
