// 覆盖uview的默认变量
$u-main-color: $main;
$u-bg-color: $inverse;

// 覆盖uview的默认样式
.u-loading-page__warpper__loading-icon {
  .u-loading-icon__spinner {
    width: 22.4px !important;
    height: 22.4px !important;
  }
}

.u-empty {
  flex: 1;
}

// tabbar渐变
.u-tabbar__content {
  transition: background 0.3s ease, border 0.3s ease;
}

// 按钮颜色渐变
.u-button {
  transition: background 0.3s ease;
  // 默认的uview按钮
  &--info {
    color: $main !important;
    background-color: $inverse !important;
  }
}

// 覆盖深色模式下uview默认样式
@mixin darkOverride() {
  .u-tabbar__content {
    border-color: transparent !important;
  }
  .u-popup__content,
  .u-tabbar__content {
    background: $inverse;
  }
  .uni-picker-view-mask {
    background: unset;
  }
}

// 媒体查询深色
@media (prefers-color-scheme: dark) {
  .container,
  body.dark {
    @include darkOverride();
  }
}

// 手动设置的深色
.container.dark,
body.dark {
  @include darkOverride();
}
