@use "sass:math";

:root {
  // 字体大小
  --font-size-base: 28rpx;

  // 颜色
  --main: hsl(0, 0, 7%);
  --inverse: hsl(0, 0%, 100%);

  // 媒体查询深色模式
  // #ifndef H5
  @media (prefers-color-scheme: dark) {
    --main: hsl(0, 0%, 100%);
    --inverse: hsl(0, 0%, 12%);
  }
  // #endif

  // 手动设置的深色
  .container.dark,
  &.dark {
    --main: hsl(0, 0%, 100%);
    --inverse: hsl(0, 0%, 12%);
  }
}

// 普通css变量转为scss变量
$font-size-base: var(--font-size-base);
$main: var(--main);
$inverse: var(--inverse);
